.u-section-1 .u-sheet-1 {
  min-height: 106px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  text-decoration: underline !important;
  margin: 27px auto 0 25px;
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-bottom: 60px;
  }
}.u-block-0369-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-0369-3 {
  position: absolute;
  left: 0;
}

.u-block-0369-4 {
  position: absolute;
  right: 0;
}

.u-section-2-1 .u-sheet-1 {
  min-height: 700px;
}

.u-section-2-1 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-2-1 .u-image-1 {
  min-height: 572px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url('/images/ac04ba448396a7410857e74be24371589bba602c1914ee4fe49f7cf250650c2b2da0324f3a9e1ed26d0face28d3739028de4a9085cd942151c2660_1280.jpg');
  background-position: 50% 50%;
}

.u-section-2-1 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-2-1 .u-layout-cell-2 {
  min-height: 572px;
}

.u-section-2-1 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-2-1 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-2-1 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-2-1 .u-btn-1 {
  margin-left: 0;
  margin-right: auto;
  background-image: none;
  margin-top: 20px;
}

@media (max-width: 1199px) {
  .u-section-2-1 .u-sheet-1 {
    min-height: 600px;
  }

  .u-section-2-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2-1 .u-image-1 {
    min-height: 472px;
  }

  .u-section-2-1 .u-layout-cell-2 {
    min-height: 472px;
  }
}

@media (max-width: 991px) {
  .u-section-2-1 .u-sheet-1 {
    min-height: 490px;
  }

  .u-section-2-1 .u-image-1 {
    min-height: 362px;
  }

  .u-section-2-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2-1 .u-sheet-1 {
    min-height: 771px;
  }

  .u-section-2-1 .u-image-1 {
    min-height: 543px;
  }

  .u-section-2-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2-1 .u-sheet-1 {
    min-height: 570px;
  }

  .u-section-2-1 .u-image-1 {
    min-height: 342px;
  }
}

.u-section-2-2 .u-sheet-1 {
  min-height: 700px;
}

.u-section-2-2 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-2-2 .u-image-1 {
  min-height: 572px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url('/images/8da02204b1499f672fae6d52416568795f0a4401445a87b455b79b8307daae7587fd0e8d28cdc382ee374da494e506cf4d7e507967d2904d5de0df_1280.jpg');
  background-position: 50% 50%;
}

.u-section-2-2 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-2-2 .u-layout-cell-2 {
  min-height: 572px;
}

.u-section-2-2 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-2-2 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-2-2 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-2-2 .u-btn-1 {
  margin-left: 0;
  margin-right: auto;
  background-image: none;
  margin-top: 20px;
}

@media (max-width: 1199px) {
  .u-section-2-2 .u-sheet-1 {
    min-height: 600px;
  }

  .u-section-2-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2-2 .u-image-1 {
    min-height: 472px;
  }

  .u-section-2-2 .u-layout-cell-2 {
    min-height: 472px;
  }
}

@media (max-width: 991px) {
  .u-section-2-2 .u-sheet-1 {
    min-height: 490px;
  }

  .u-section-2-2 .u-image-1 {
    min-height: 362px;
  }

  .u-section-2-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2-2 .u-sheet-1 {
    min-height: 771px;
  }

  .u-section-2-2 .u-image-1 {
    min-height: 543px;
  }

  .u-section-2-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2-2 .u-sheet-1 {
    min-height: 570px;
  }

  .u-section-2-2 .u-image-1 {
    min-height: 342px;
  }
}

.u-section-2-3 .u-sheet-1 {
  min-height: 700px;
}

.u-section-2-3 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-2-3 .u-image-1 {
  min-height: 572px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url('/images/c38594c2e2be4b094cd266e8ee018bf239fb4cafae76f9f9d73486baebb18cde4e2aef82e73b5a59c87aa2409b3edc3c2658719b82ea011cb51b5e_1280.jpg');
  background-position: 50% 50%;
}

.u-section-2-3 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-2-3 .u-layout-cell-2 {
  min-height: 572px;
}

.u-section-2-3 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-2-3 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-2-3 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-2-3 .u-btn-1 {
  margin-left: 0;
  margin-right: auto;
  background-image: none;
  margin-top: 20px;
}

@media (max-width: 1199px) {
  .u-section-2-3 .u-sheet-1 {
    min-height: 600px;
  }

  .u-section-2-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2-3 .u-image-1 {
    min-height: 472px;
  }

  .u-section-2-3 .u-layout-cell-2 {
    min-height: 472px;
  }
}

@media (max-width: 991px) {
  .u-section-2-3 .u-sheet-1 {
    min-height: 490px;
  }

  .u-section-2-3 .u-image-1 {
    min-height: 362px;
  }

  .u-section-2-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2-3 .u-sheet-1 {
    min-height: 771px;
  }

  .u-section-2-3 .u-image-1 {
    min-height: 543px;
  }

  .u-section-2-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2-3 .u-sheet-1 {
    min-height: 570px;
  }

  .u-section-2-3 .u-image-1 {
    min-height: 342px;
  }
}

.u-section-2-4 .u-sheet-1 {
  min-height: 700px;
}

.u-section-2-4 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-2-4 .u-image-1 {
  min-height: 572px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url('/images/d9a353faa405cf023395f5713f388bfa5f123144f9f69b45fa05f34b9c182fb31bf0c348188e56b40e1e2c6b279fb402bd3edfa23a81f419270040_1280.jpg');
  background-position: 50% 50%;
}

.u-section-2-4 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-2-4 .u-layout-cell-2 {
  min-height: 572px;
}

.u-section-2-4 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-2-4 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-2-4 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-2-4 .u-btn-1 {
  margin-left: 0;
  margin-right: auto;
  background-image: none;
  margin-top: 20px;
}

@media (max-width: 1199px) {
  .u-section-2-4 .u-sheet-1 {
    min-height: 600px;
  }

  .u-section-2-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2-4 .u-image-1 {
    min-height: 472px;
  }

  .u-section-2-4 .u-layout-cell-2 {
    min-height: 472px;
  }
}

@media (max-width: 991px) {
  .u-section-2-4 .u-sheet-1 {
    min-height: 490px;
  }

  .u-section-2-4 .u-image-1 {
    min-height: 362px;
  }

  .u-section-2-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2-4 .u-sheet-1 {
    min-height: 771px;
  }

  .u-section-2-4 .u-image-1 {
    min-height: 543px;
  }

  .u-section-2-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2-4 .u-sheet-1 {
    min-height: 570px;
  }

  .u-section-2-4 .u-image-1 {
    min-height: 342px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 931px;
}

.u-section-3 .u-list-1 {
  margin-top: 50px;
  margin-bottom: 50px;
  grid-template-rows: repeat(2, auto);
}

.u-section-3 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 14px);
  grid-template-columns: repeat(3, calc(33.3333% - 14px));
  min-height: 583px;
  grid-gap: 21px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  margin-top: 0;
  font-weight: 700;
  margin-bottom: 0;
}

.u-section-3 .u-line-1 {
  height: 4px;
  transform-origin: left center;
  margin: 20px auto 0 0;
}

.u-section-3 .u-image-1 {
  width: 303px;
  height: 160px;
  margin: 30px auto 0 0;
}

.u-section-3 .u-text-2 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  border-style: none;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 157px;
  height: 42px;
  margin: 20px auto 0 0;
}

.u-section-3 .u-list-item-2 {
  background-size: auto;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-3 {
  margin-top: 0;
  font-weight: 700;
  margin-bottom: 0;
}

.u-section-3 .u-line-2 {
  height: 4px;
  transform-origin: left center;
  margin: 20px auto 0 0;
}

.u-section-3 .u-image-2 {
  width: 303px;
  height: 160px;
  margin: 30px auto 0 0;
}

.u-section-3 .u-text-4 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-3 .u-btn-2 {
  margin-left: 0;
  background-image: none;
  border-style: none;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 157px;
  height: 42px;
  margin-right: 0;
}

.u-section-3 .u-list-item-3 {
  background-size: auto;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-text-5 {
  margin-top: 0;
  font-weight: 700;
  margin-bottom: 0;
}

.u-section-3 .u-line-3 {
  height: 4px;
  transform-origin: left center;
  margin: 20px auto 0 0;
}

.u-section-3 .u-image-3 {
  width: 303px;
  height: 160px;
  margin: 30px auto 0 0;
}

.u-section-3 .u-text-6 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-3 .u-btn-3 {
  margin-left: 0;
  background-image: none;
  border-style: none;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 157px;
  height: 42px;
  margin-right: 0;
}

.u-section-3 .u-list-item-4 {
  background-size: auto;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-text-7 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-3 .u-line-4 {
  height: 4px;
  transform-origin: left center;
  margin: 20px auto 0 0;
}

.u-section-3 .u-image-4 {
  width: 303px;
  height: 160px;
  margin: 30px auto 0 0;
}

.u-section-3 .u-text-8 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-3 .u-btn-4 {
  margin-left: 0;
  background-image: none;
  border-style: none;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 157px;
  height: 42px;
  margin-right: 0;
}

.u-section-3 .u-list-item-5 {
  background-size: auto;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-text-9 {
  margin-top: 0;
  font-weight: 700;
  margin-bottom: 0;
}

.u-section-3 .u-line-5 {
  height: 4px;
  transform-origin: left center;
  margin: 20px auto 0 0;
}

.u-section-3 .u-image-5 {
  width: 303px;
  height: 160px;
  margin: 30px auto 0 0;
}

.u-section-3 .u-text-10 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-3 .u-btn-5 {
  margin-left: 0;
  background-image: none;
  border-style: none;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 157px;
  height: 42px;
  margin-right: 0;
}

.u-section-3 .u-list-item-6 {
  background-size: auto;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px;
}

.u-section-3 .u-text-11 {
  margin-top: 0;
  font-weight: 700;
  margin-bottom: 0;
}

.u-section-3 .u-line-6 {
  height: 4px;
  transform-origin: left center;
  margin: 20px auto 0 0;
}

.u-section-3 .u-image-6 {
  width: 303px;
  height: 160px;
  margin: 30px auto 0 0;
}

.u-section-3 .u-text-12 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-3 .u-btn-6 {
  margin-left: 0;
  background-image: none;
  border-style: none;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 157px;
  height: 42px;
  margin-right: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 829px;
  }

  .u-section-3 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    height: 127px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-2 {
    margin-right: auto;
  }

  .u-section-3 .u-line-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-2 {
    height: 127px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-4 {
    margin-right: auto;
  }

  .u-section-3 .u-line-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-3 {
    height: 127px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-6 {
    margin-right: auto;
  }

  .u-section-3 .u-line-4 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-4 {
    height: 127px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-8 {
    margin-right: auto;
  }

  .u-section-3 .u-line-5 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-5 {
    height: 127px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-10 {
    margin-right: auto;
  }

  .u-section-3 .u-line-6 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-6 {
    height: 127px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-12 {
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1176px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(50% - 10.5px);
    grid-template-columns: repeat(2, calc(50% - 10.5px));
  }

  .u-section-3 .u-image-1 {
    height: 150px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-2 {
    height: 150px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-3 {
    height: 150px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-4 {
    height: 150px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-5 {
    height: 150px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-6 {
    height: 150px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-image-1 {
    height: 260px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-2 {
    height: 260px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-3 {
    height: 260px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-4 {
    height: 260px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-5 {
    height: 260px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-6 {
    height: 260px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: repeat(1, 100%);
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-image-1 {
    height: 396px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-image-2 {
    height: 396px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-image-3 {
    height: 396px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-image-4 {
    height: 396px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-image-5 {
    height: 396px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-image-6 {
    height: 396px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}