 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-shape-1 {
  width: 447px;
  height: 588px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 15px;
  margin: 355px 0 0 auto;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1086px;
  margin: -828px auto 60px -1px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 786px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 60px 30px 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-1 .u-form-1 {
  margin: 46px 0 0;
}

.u-section-1 .u-btn-1 {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  background-image: none;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 581px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-1 {
    margin-top: 338px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 887px;
    margin-top: -820px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    min-height: 680px;
  }

  .u-section-1 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-2 {
    --animation-custom_in-translate_x: -300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    min-height: 503px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1576px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 898px;
    margin-right: 20px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 669px;
    margin-top: -1486px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 771px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1427px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 733px;
    margin-right: 0;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 490px;
    margin-top: -1321px;
    margin-left: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 578px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1237px;
  }

  .u-section-1 .u-shape-1 {
    width: 290px;
    height: 365px;
    margin-top: 861px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 300px;
    margin-top: -1161px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 364px;
  }
}