.u-section-1 .u-sheet-1 {
  min-height: 1362px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 700;
  text-decoration: underline !important;
  margin: 92px 801px 0 29px;
}

.u-section-1 .u-list-1 {
  grid-template-rows: repeat(2, auto);
  width: 1400px;
  margin: 13px -5px 60px auto;
}

.u-section-1 .u-repeater-1 {
  grid-auto-columns: 50%;
  grid-template-columns: repeat(2, 50%);
  min-height: 1104px;
  grid-gap: 0px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  width: 385px;
  height: 308px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-group-1 {
  width: 255px;
  min-height: 308px;
  margin: -308px 0 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 0 20px 25px;
}

.u-section-1 .u-text-2 {
  margin: 0;
}

.u-section-1 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 600;
  width: 99px;
  height: 33px;
  margin: 20px 0 0;
  padding: 5px 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-image-2 {
  width: 385px;
  height: 308px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-group-2 {
  width: 255px;
  min-height: 308px;
  margin: -308px 0 0 auto;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 0 20px 25px;
}

.u-section-1 .u-text-4 {
  margin: 0;
}

.u-section-1 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-1 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 600;
  width: 99px;
  height: 33px;
  margin: 20px 0 0;
  padding: 5px 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-image-3 {
  width: 385px;
  height: 308px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-group-3 {
  width: 255px;
  min-height: 308px;
  margin: -308px 0 0 auto;
}

.u-section-1 .u-container-layout-6 {
  padding: 0 0 20px 25px;
}

.u-section-1 .u-text-6 {
  margin: 0;
}

.u-section-1 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-1 .u-btn-3 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 600;
  width: 99px;
  height: 33px;
  margin: 20px auto 0 0;
  padding: 5px 0;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px;
}

.u-section-1 .u-image-4 {
  width: 385px;
  height: 308px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-group-4 {
  width: 255px;
  min-height: 308px;
  margin: -308px 0 0 auto;
}

.u-section-1 .u-container-layout-8 {
  padding: 0 0 20px 25px;
}

.u-section-1 .u-text-8 {
  margin: 0;
}

.u-section-1 .u-text-9 {
  margin: 20px 0 0;
}

.u-section-1 .u-btn-4 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 600;
  width: 99px;
  height: 33px;
  margin: 20px 0 0;
  padding: 5px 0;
}

.u-section-1 .u-container-layout-9 {
  padding: 30px;
}

.u-section-1 .u-image-5 {
  width: 385px;
  height: 308px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-group-5 {
  width: 255px;
  min-height: 308px;
  margin: -308px 0 0 auto;
}

.u-section-1 .u-container-layout-10 {
  padding: 0 0 20px 25px;
}

.u-section-1 .u-text-10 {
  margin: 0;
}

.u-section-1 .u-text-11 {
  margin: 20px 0 0;
}

.u-section-1 .u-btn-5 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 600;
  width: 99px;
  height: 33px;
  margin: 20px 0 0;
  padding: 5px 0;
}

.u-section-1 .u-container-layout-11 {
  padding: 30px;
}

.u-section-1 .u-image-6 {
  width: 385px;
  height: 308px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-group-6 {
  width: 255px;
  min-height: 308px;
  margin: -308px 0 0 auto;
}

.u-section-1 .u-container-layout-12 {
  padding: 0 0 20px 25px;
}

.u-section-1 .u-text-12 {
  margin: 0;
}

.u-section-1 .u-text-13 {
  margin: 20px 0 0;
}

.u-section-1 .u-btn-6 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 600;
  width: 99px;
  height: 33px;
  margin: 20px 0 0;
  padding: 5px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: 545px;
    margin-left: 50px;
  }

  .u-section-1 .u-list-1 {
    height: auto;
    width: 940px;
    margin-right: 0;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 910px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-image-1 {
    width: 205px;
    margin-left: 30px;
  }

  .u-section-1 .u-group-1 {
    width: 217px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-image-2 {
    width: 205px;
    margin-left: 30px;
  }

  .u-section-1 .u-group-2 {
    width: 217px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-image-3 {
    width: 205px;
    margin-left: 30px;
  }

  .u-section-1 .u-group-3 {
    width: 217px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-image-4 {
    width: 205px;
    margin-left: 30px;
  }

  .u-section-1 .u-group-4 {
    width: 217px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-image-5 {
    width: 205px;
    margin-left: 30px;
  }

  .u-section-1 .u-group-5 {
    width: 217px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-image-6 {
    width: 205px;
    margin-left: 30px;
  }

  .u-section-1 .u-group-6 {
    width: 217px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2379px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 46px;
    margin-right: 360px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 46px;
    margin-bottom: 0;
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: repeat(1, 100%);
    min-height: 2208px;
  }

  .u-section-1 .u-image-1 {
    width: 316px;
  }

  .u-section-1 .u-group-1 {
    width: 346px;
  }

  .u-section-1 .u-image-2 {
    width: 316px;
  }

  .u-section-1 .u-group-2 {
    width: 346px;
  }

  .u-section-1 .u-image-3 {
    width: 316px;
  }

  .u-section-1 .u-group-3 {
    width: 346px;
  }

  .u-section-1 .u-image-4 {
    width: 316px;
  }

  .u-section-1 .u-group-4 {
    width: 346px;
  }

  .u-section-1 .u-image-5 {
    width: 316px;
  }

  .u-section-1 .u-group-5 {
    width: 346px;
  }

  .u-section-1 .u-image-6 {
    width: 316px;
  }

  .u-section-1 .u-group-6 {
    width: 346px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2342px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-right: 250px;
    margin-left: 30px;
  }

  .u-section-1 .u-list-1 {
    margin-bottom: 2px;
    width: 540px;
  }

  .u-section-1 .u-image-1 {
    width: 234px;
  }

  .u-section-1 .u-group-1 {
    width: 286px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
  }

  .u-section-1 .u-image-2 {
    width: 234px;
  }

  .u-section-1 .u-group-2 {
    width: 286px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 30px;
  }

  .u-section-1 .u-image-3 {
    width: 234px;
  }

  .u-section-1 .u-group-3 {
    width: 286px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 30px;
  }

  .u-section-1 .u-image-4 {
    width: 234px;
  }

  .u-section-1 .u-group-4 {
    width: 286px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 30px;
  }

  .u-section-1 .u-image-5 {
    width: 234px;
  }

  .u-section-1 .u-group-5 {
    width: 286px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 30px;
  }

  .u-section-1 .u-image-6 {
    width: 234px;
  }

  .u-section-1 .u-group-6 {
    width: 286px;
  }

  .u-section-1 .u-container-layout-12 {
    padding-left: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3475px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    width: 260px;
    margin-top: 45px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-list-1 {
    margin-top: 40px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    height: auto;
    width: auto;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 3358px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-image-1 {
    height: 256px;
    width: 332px;
    margin-left: auto;
  }

  .u-section-1 .u-group-1 {
    min-height: 299px;
    margin-top: 4px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 0;
    padding-bottom: 7px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-image-2 {
    height: 256px;
    width: 332px;
    margin-left: auto;
  }

  .u-section-1 .u-group-2 {
    min-height: 299px;
    margin-top: 4px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 0;
    padding-bottom: 7px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-image-3 {
    height: 256px;
    width: 332px;
    margin-left: auto;
  }

  .u-section-1 .u-group-3 {
    min-height: 299px;
    margin-top: 4px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 0;
    padding-bottom: 7px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-7 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-image-4 {
    height: 256px;
    width: 332px;
    margin-left: auto;
  }

  .u-section-1 .u-group-4 {
    min-height: 299px;
    margin-top: 4px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 0;
    padding-bottom: 7px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-image-5 {
    height: 256px;
    width: 332px;
    margin-left: auto;
  }

  .u-section-1 .u-group-5 {
    min-height: 299px;
    margin-top: 4px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 0;
    padding-bottom: 7px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-image-6 {
    height: 256px;
    width: 332px;
    margin-left: auto;
  }

  .u-section-1 .u-group-6 {
    min-height: 299px;
    margin-top: 4px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-12 {
    padding-left: 0;
    padding-bottom: 7px;
  }
}